@model List<DeviceView>
@{
    ViewData["Title"] = "Quản lý thiết bị";
    List<DeviceView> devices = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý thiết bị</h1>
    <div class="search-container" style="text-align: left;">
        <input type="text" id="searchInput" placeholder="Tìm kiếm..."  />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên thiết bị</th>
                <th>Mô tả</th>
                <th>Nhà cung cấp</th>
                <th>Số lượng</th>
                <th>Bảo hành (Ngày)</th>
                @if (User.IsInRole("admin"))
                {
                    <th>
                        <a class="btn btn-primary" asp-action="Add" asp-controller="Device">Thêm mới</a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: left;">@device.DeviceName</td>
                    <td style="text-align: left;">@device.Description</td>
                    <td style="text-align: left;">@device.Manufacturer</td>
                    <td>@device.Quantity</td>
                    <td>@device.WarrantyPeriod</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a class="btn btn-success" asp-action="Update" asp-controller="Device" asp-route-id="@device.DeviceID">Cập nhật</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Device" asp-route-id="@device.DeviceID" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm @device.DeviceName không?')">Xóa</a>
                        </td>
                    }
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

<script>
    // Lấy danh sách các hàng trong bảng
    const tableRows = Array.from(document.querySelectorAll("table.table-striped tbody tr"));

    // Xử lý sự kiện nhập vào input tìm kiếm
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        // Lặp qua từng hàng trong bảng để tìm kiếm và ẩn/hiện tùy thuộc vào kết quả tìm kiếm
        tableRows.forEach(function (row) {
            const rowData = row.innerText.toLowerCase();

            if (rowData.includes(searchText)) {
                row.style.display = ""; // Hiển thị nếu kết quả tìm kiếm
            } else {
                row.style.display = "none"; // Ẩn nếu không tìm thấy
            }
        });
    });
</script>