@model List<DeviceView>
@{
    ViewData["Title"] = "Quản lý thiết bị";
    List<DeviceView> devices = Model;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý thiết bị</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên thiết bị</th>
                <th>Mô tả</th>
                <th>Nhà cung cấp</th>
                <th>Số lượng</th>
                <th>
                    <a class="btn btn-primary" asp-action="Add" asp-controller="Device">Thêm mới</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr>
                    <td>@device.DeviceID</td>
                    <td>@device.DeviceName</td>
                    <td>@device.Description</td>
                    <td>@device.Manufacturer</td>
                    <td>@device.Quantity</td>
                    <td>
                        <a class="btn btn-success" asp-action="Update" asp-controller="Device" asp-route-id="@device.DeviceID">Cập nhật</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Device" asp-route-id="@device.DeviceID" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm @device.DeviceName không?')">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

