@model Device
@{
    ViewData["Title"] = "Cập nhật thiết bị";
    Device device = Model;
}
@using ComputerRepair.Models;

<form action="/Device/Update" method="post">
    <div class="text-center">
        <h1 class="display-4">Cập nhật thiết bị</h1>
    </div>    
    <div class="mb-3">
        <label for="DeviceID" class="form-label">Id</label>
        <input type="text" class="form-control" id="DeviceID" name="DeviceID" value="@device.DeviceID" readonly />
    </div>
    <div class="mb-3">
        <label for="DeviceName" class="form-label">Tên thiết bị</label>
        <input type="text" class="form-control" id="DeviceName" name="DeviceName" value="@device.DeviceName" required />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@device.Description" required />
    </div>
    <div class="mb-3">
        <label for="Manufacturer" class="form-label">Nhà cung cấp</label>
        <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" value="@device.Manufacturer" required />
    </div>
    <div class="mb-3">
        <label for="Quantity" class="form-label">Số lượng</label>
        <input type="number" class="form-control" id="Quantity" name="Quantity" min="0" step="1" value="@device.Quantity" required />
    </div>
    <div class="mb-3">
        <label for="WarrantyPeriod" class="form-label">Bảo hành (Ngày)</label>
        <input type="number" class="form-control" id="WarrantyPeriod" name="WarrantyPeriod" min="0" step="1" value="@device.WarrantyPeriod" required />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>