@model List<UserView>
@{
    ViewData["Title"] = "Quản lý người dùng";
    List<UserView> users = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý người dùng</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ Và Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>
                    <a class="btn btn-primary" asp-action="Add" asp-controller="User">Thêm mới</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@count</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Address</td>
                    <td>@user.RoleName</td>
                    <td>@user.Username</td>
                    <td data-password="@user.Password" ondblclick="togglePassword(this)">*******</td>
                    <td>
                        <a class="btn btn-success" asp-action="Update" asp-controller="User" asp-route-id="@user.UserID">Cập nhật</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="User" asp-route-id="@user.UserID" onclick="return confirm('Bạn có chắc muốn xóa tài khoản của user @user.Username không?')">Xóa</a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>
<script>
    function togglePassword(element) {
        var password = element.getAttribute('data-password');
        if (element.innerHTML === '*******') {
            element.innerHTML = password;
        } else {
            element.innerHTML = '*******';
        }
    }
</script>

