@model List<UserView>
@{
    ViewData["Title"] = "Quản lý người dùng";
    List<UserView> users = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý người dùng</h1>
    <div class="search-container" style="text-align: left;">
        <input type="text" id="searchInput" placeholder="Tìm kiếm..." />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ Và Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>
                    <a class="btn btn-primary" asp-action="Add" asp-controller="User">Thêm mới</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: left;">@user.FullName</td>
                    <td style="text-align: left;">@user.Email</td>
                    <td style="text-align: left;">@user.Phone</td>
                    <td style="text-align: left;">@user.Address</td>
                    <td style="text-align: left;">@user.RoleName</td>
                    <td style="text-align: left;">@user.Username</td>
                    <td style="text-align: left;" data-password="@user.Password" ondblclick="togglePassword(this)">*******</td>
                    <td>
                        <a class="btn btn-success" asp-action="Update" asp-controller="User" asp-route-id="@user.UserID">Cập nhật</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="User" asp-route-id="@user.UserID" onclick="return confirm('Bạn có chắc muốn xóa tài khoản của user @user.Username không?')">Xóa</a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>
<script>
    function togglePassword(element) {
        var password = element.getAttribute('data-password');
        if (element.innerHTML === '*******') {
            element.innerHTML = password;
        } else {
            element.innerHTML = '*******';
        }
    }
    // Lấy danh sách các hàng trong bảng
    const tableRows = Array.from(document.querySelectorAll("table.table-striped tbody tr"));

    // Xử lý sự kiện nhập vào input tìm kiếm
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        // Lặp qua từng hàng trong bảng để tìm kiếm và ẩn/hiện tùy thuộc vào kết quả tìm kiếm
        tableRows.forEach(function (row) {
            const rowData = row.innerText.toLowerCase();

            if (rowData.includes(searchText)) {
                row.style.display = ""; // Hiển thị nếu kết quả tìm kiếm
            } else {
                row.style.display = "none"; // Ẩn nếu không tìm thấy
            }
        });
    });
</script>