@model List<ServiceView>
@{
    ViewData["Title"] = "Quản lý dịch vụ";
    List<ServiceView> sevices = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý dịch vụ</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Mô tả</th>
                @if (User.IsInRole("admin"))
                {
                    <th>
                        <a class="btn btn-primary" asp-action="Add" asp-controller="Service">Thêm mới</a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var sevice in sevices)
            {
                <tr>
                    <td>@count</td>
                    <td>@sevice.ServiceName</td>
                    <td>@sevice.Description</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a class="btn btn-success" asp-action="Update" asp-controller="Service" asp-route-id="@sevice.ServiceID">Cập nhật</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Service" asp-route-id="@sevice.ServiceID" onclick="return confirm('Bạn có chắc muốn xóa dịch vụ  @sevice.ServiceName không?')">Xóa</a>
                    </td>
                    }
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

