@model List<ServiceView>
@{
    ViewData["Title"] = "Quản lý dịch vụ";
    List<ServiceView> sevices = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý dịch vụ</h1>
    <div class="search-container" style="text-align: left;">
        <input type="text" id="searchInput" placeholder="Tìm kiếm..." />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Mô tả</th>
                @if (User.IsInRole("admin"))
                {
                    <th>
                        <a class="btn btn-primary" asp-action="Add" asp-controller="Service">Thêm mới</a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var sevice in sevices)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: left;">@sevice.ServiceName</td>
                    <td style="text-align: left;">@sevice.Description</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a class="btn btn-success" asp-action="Update" asp-controller="Service" asp-route-id="@sevice.ServiceID">Cập nhật</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Service" asp-route-id="@sevice.ServiceID" onclick="return confirm('Bạn có chắc muốn xóa dịch vụ  @sevice.ServiceName không?')">Xóa</a>
                    </td>
                    }
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

<script>
    // Lấy danh sách các hàng trong bảng
    const tableRows = Array.from(document.querySelectorAll("table.table-striped tbody tr"));

    // Xử lý sự kiện nhập vào input tìm kiếm
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        // Lặp qua từng hàng trong bảng để tìm kiếm và ẩn/hiện tùy thuộc vào kết quả tìm kiếm
        tableRows.forEach(function (row) {
            const rowData = row.innerText.toLowerCase();

            if (rowData.includes(searchText)) {
                row.style.display = ""; // Hiển thị nếu kết quả tìm kiếm
            } else {
                row.style.display = "none"; // Ẩn nếu không tìm thấy
            }
        });
    });
</script>