@model List<CustomerView>
@{
    ViewData["Title"] = "Quản lý khách hàng";
    List<CustomerView> customers = Model;
    int count = 1;
}
@using ComputerRepair.DTO;
@using ComputerRepair.Models;
<div class="text-center">
    <h1 class="display-4">Quản lý khách hàng</h1>
    <div class="search-container" style="text-align: left;">
        <input type="text" id="searchInput" placeholder="Tìm kiếm..." />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>
                    <a class="btn btn-primary" asp-action="Add" asp-controller="Customer">Thêm mới</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: left;">@customer.CustomerName</td>
                    <td style="text-align: left;">@customer.Phone</td>
                    <td style="text-align: left;">@customer.Email</td>
                    <td style="text-align: left;">@customer.Address</td>
                    <td>
                        <a class="btn btn-success" asp-action="Update" asp-controller="Customer" asp-route-id="@customer.CustomerID">Cập nhật</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.CustomerID" onclick="return confirm('Bạn có chắc muốn xóa khách hàng @customer.CustomerName không?')">Xóa</a>
                        }
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

<script>
    // Lấy danh sách các hàng trong bảng
    const tableRows = Array.from(document.querySelectorAll("table.table-striped tbody tr"));

    // Xử lý sự kiện nhập vào input tìm kiếm
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        // Lặp qua từng hàng trong bảng để tìm kiếm và ẩn/hiện tùy thuộc vào kết quả tìm kiếm
        tableRows.forEach(function (row) {
            const rowData = row.innerText.toLowerCase();

            if (rowData.includes(searchText)) {
                row.style.display = ""; // Hiển thị nếu kết quả tìm kiếm
            } else {
                row.style.display = "none"; // Ẩn nếu không tìm thấy
            }
        });
    });
</script>